// button
$button-height: 32px
$button-font-size: 14px
$button-bg: white
$button-active-bg: #eee
$button-border-radius: 4px
$button-border-color: #999
$button-border-color-hover: #666

$primary: #1890ff
$success: #E84148
$info: #768D91
$warning: #EDAD74
$danger: #EDAD95

// input
$height: 32px
$border-color: #999
$border-color-hover: #40a9ff
$border-radius: 4px
$font-size: 12px
$box-shadow-color: $border-color-hover
$red: #F1453D

// nav

$nav-background: rgb(84, 92, 100)
$nav-background-hover: rgb(67, 74, 80)
$nav-item-height: 60px
$nav-item-border-active: rgb(255, 208, 75)
$subnav-item-height: 36px